<form [formGroup]="userform">
  <p-panel header="User Profile">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Display Name *:
        </div>
        <div class="ui-grid-col-6">
          <input pInputText type="text" formControlName="displayName" placeholder="Required"/>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Real Name *:
        </div>
        <div class="ui-grid-col-6">
          <input pInputText type="text" formControlName="realName" placeholder="Required"/>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Birthday *:
        </div>
        <div class="ui-grid-col-6">
          <p-calendar formControlName="date" [monthNavigator]="true" [yearNavigator]="true" yearRange="1920:2020"></p-calendar>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Gender:
        </div>
        <div class="ui-grid-col-6">
          <p-dropdown [options]="genders" formControlName="gender"></p-dropdown>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="Gender is required"
                     *ngIf="!userform.controls['gender'].valid&&userform.controls['gender'].dirty"></p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Ethnicity *:
        </div>
        <div class="ui-grid-col-6">
          <p-dropdown [options]="genders" formControlName="gender"></p-dropdown>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="Gender is required"
                     *ngIf="!userform.controls['gender'].valid&&userform.controls['gender'].dirty"></p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Religion *:
        </div>
        <div class="ui-grid-col-6">
          <p-dropdown [options]="genders" formControlName="gender"></p-dropdown>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="Gender is required"
                     *ngIf="!userform.controls['gender'].valid&&userform.controls['gender'].dirty"></p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Height *:
        </div>
        <div class="ui-grid-col-6">
          <input pInputText type="text" formControlName="realName" placeholder="Required"/>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="Gender is required"
                     *ngIf="!userform.controls['gender'].valid&&userform.controls['gender'].dirty"></p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Figure *:
        </div>
        <div class="ui-grid-col-6">
          <p-dropdown [options]="genders" formControlName="gender"></p-dropdown>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="Gender is required"
                     *ngIf="!userform.controls['gender'].valid&&userform.controls['gender'].dirty"></p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Marital Status *:
        </div>
        <div class="ui-grid-col-6">
          <p-dropdown [options]="genders" formControlName="gender"></p-dropdown>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="Gender is required"
                     *ngIf="!userform.controls['gender'].valid&&userform.controls['gender'].dirty"></p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Occupation *:
        </div>
        <div class="ui-grid-col-6">
          <input pInputText type="text" formControlName="displayName" placeholder="Required"/>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="Gender is required"
                     *ngIf="!userform.controls['gender'].valid&&userform.controls['gender'].dirty"></p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          About Me *:
        </div>
        <div class="ui-grid-col-6">
          <textarea rows="5" cols="30" pInputTextarea autoResize="autoResize"></textarea>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="Gender is required"
                     *ngIf="!userform.controls['gender'].valid&&userform.controls['gender'].dirty"></p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Location *:
        </div>
        <div class="ui-grid-col-6">
          <p-dropdown [options]="genders" formControlName="gender"></p-dropdown>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="Gender is required"
                     *ngIf="!userform.controls['gender'].valid&&userform.controls['gender'].dirty"></p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2"></div>
        <div class="ui-grid-col-6">
          <button pButton type="submit" label="Submit" [disabled]="!userform.valid"></button>
        </div>
        <div class="ui-grid-col-4"></div>
      </div>
      <!--      <div style="text-align:center;margin-top:20px" *ngIf="submitted">-->
      <!--        Form Submitted-->
      <!--        <br>-->
      <!--        {{diagnostic}}-->
      <!--      </div>-->
    </div>
  </p-panel>
</form>

